<%
##
# This view displays a form of orders ready to fulfil
#
# Parameters:
#  :orders - An active query of Orders
%>

<script type="text/javascript">
//<![CDATA[
/*
$(function() {
  $(".fulfilment_form").submit(function() {
    $.ajax("/api/v1/warehouse/fulfilment", {
      data: $(this),
      complete: function(jqXHR, textStatus) {
        console.log(jqXHR);
        console.log(textStatus);
      }
    });

    return true;
  });
});
*/
//]]>
</script>

<div>
  <h2>Current Orders:</h2>
  <form method="post" class="fulfilment_form" action="/api/v1/warehouse/fulfilment">
    <div>
      <table class="table">
        <tr>
          <th>Order Id</th>
          <th>Date</th>
          <th>Availability</th>
          <th>Status</th>
          <th>Process</th>
        </tr>
<% orders.each do |order| %>
        <tr>
          <td><%= order[:order_id] %></td>
          <td><%= order[:date_created] %></td>
          <td><%= order.on_hand? ? 'Order' : 'Backorder' %></td>
          <td><%= order[:status] %></td>
          <td>
  <% if 'Pending' == order[:status] then %>
            <input class="form-check-input" type="checkbox" name="orderIds[]" value="<%= order[:order_id] %>" />
  <% end %>
          </td>
        </tr>
<% end %>
      </table>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input class="btn btn-primary me-md-2" type="submit" value="Process order" />
      </div>
    </div>
  </form>
  <br />

  <!-- <div id="result" class="bg-info bg-gradient" style="min-height:8em;"></div> -->
</div>
